{% extends 'base.html' %}
{% block title %}
    Akoma Caitalog
{% endblock title %}
{% block style %}
<style>

</style>
{% endblock style %}

{% block body %}
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Akoma Caitalog Session</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Caitalog</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p>Akoma Videos Session Provide Here</p>
                    <h2>Machine Learning Course videos</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="static/img2/bot10.jpg" alt="Image">
                            </div>
                            <h3>Deep Learning</h3>
                            <p>
                                Akoma Full Deep Learning Playlist. Join The Session Watch Full Course Through The Hindi Videos.
                            </p>
                            <a class="btn" href="">Join Now</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="static/img2/bot8.jpg" alt="Image">
                            </div>
                            <h3>Machine Learning</h3>
                            <p>
                                Akoma Full Machine Learning Playlist. Join The Session Watch Full Course Through The Hindi Videos.
                            </p>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="static/img2/op.gif" alt="Image">
                            </div>
                            <h3>Data Science</h3>
                            <p>
                                Akoma Full Data Science Playlist. Join The Session Watch Full Course Through The Hindi Videos.
                            </p>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
{% endblock body %}
