{% extends 'base.html' %}
{% block title %}
Privacy Policy -Akoma
{% endblock title %}
{% block style %}

<style>
    #privacy-policy-akoma {
        width: 88%;
        margin: auto;
        text-align: justify;
        padding: 20px;
        margin-top: 50px;
        box-shadow: 1px 1px 10px 1px grey;
    }
    @media screen and (max-width:960px){
        #privacy-policy-akoma{
            width: 99%;
        }
    }

    .text-center {
        font-weight: bolder;
        border: 1px solid black;
        background: rgb(29, 36, 52);
        color: white;;
    }

    #privacy-policy-akoma>h3,
    #privacy-policy-akoma>h2 {
        font-weight: bold;
    }

    h2 {
        padding-top: 70px;

    }
    /* links */
    .footer-social-ak{
        width: fit-content;
        margin: auto;
        margin-top: 50px;
    }
    .footer-social-ak>a{
        border: 1px solid rgb(214, 191, 149);
        padding: 10px 30px;
    }
    .footer-social-ak>a:hover{
        background: rgb(29, 36, 52);
    }
    .email-bold{
        font-weight: bold;
        font-variant: small-caps;
        padding: 5px 9px;
    }
    .email-bold:hover{
        background: rgb(29, 36, 52);
    }
</style>

{% endblock style %}

{% block body %}
<div id="privacy-policy-akoma">
    <h1 class="text-center">Privacy Policy</h1>


    <p><strong>Effective Date: 27-03-2021</strong></p>
    <h3>Your privacy is important to Akoma</h3>
    <p>Akoma is located at:</p>
    <address>
        Akoma<br>
        UTTAR PRADESH , India<br>
        akomalite@gmail.com
    </address>

    <p>It is Akoma's policy to respect your privacy regarding any information we may collect while operating our
        website. This Privacy Policy applies to <a href="https://akoma.in"> akoma.in</a> (hereinafter, "us", "we", or
        "akoma.in"). We respect your privacy and are committed to protecting personally identifiable information you may
        provide us through the Website. We have adopted this privacy policy ("Privacy Policy") to explain what
        information may be collected on our Website, how we use this information, and under what circumstances we may
        disclose the information to third parties. This Privacy Policy applies only to information we collect through
        the Website and does not apply to our collection of information from other sources.</p>
    <p>This Privacy Policy, together with the Terms of service posted on our Website, set forth the general rules and
        policies governing your use of our Website. Depending on your activities when visiting our Website, you may be
        required to agree to additional terms of service.</p>
    <h2 id="tableofcontents">
        <hr>
    </h2>
    <h2 id="tableofcontents">Contents</h2>
    <p>Click below to jump to any section of this privacy policy</p>
    <ol type="1">
        <li><a href="#websitevisitors"><strong>Website Visitors</strong></a>
        </li>
        <li><a href="#PII"><strong>Personally-Identifying Information</strong></a>
        </li>
        <li><a href="#Security"><strong>Security</strong></a>
        </li>
        <li><a href="#Ads"><strong>Advertisements</strong></a>
        </li>
        <li><a href="#ExternalLinks"><strong>Links To External Sites</strong></a>
        </li>
        <li><a href="#Remarketing"><strong>Akoma uses Google AdWords for remarketing</strong></a>
        </li>
        <li><a href="#Stats"><strong>Aggregated Statistics</strong></a>
        </li>
        <li><a href="#Affiliates"><strong>Affiliate Disclosure</strong></a>
        </li>
        <li><a href="#Cookies"><strong>Cookies</strong></a>
        </li>
        <li><a href="#Changes"><strong>Privacy Policy Changes</strong></a>
        </li>
        <li><a href="#Credit"><strong>Contact Information &amp; Credit</strong></a>
        </li>

    </ol>
    <h2 id="websitevisitors">1. Website Visitors</h2>
    <p>Like most website operators, Akoma collects non-personally-identifying information of the sort that web browsers
        and servers typically make available, such as the browser type, language preference, referring site, and the
        date and time of each visitor request. Akoma's purpose in collecting non-personally identifying information is
        to better understand how Akoma's visitors use its website. From time to time, Akoma may release
        non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of
        its website.</p>
    <p>Akoma also collects potentially personally-identifying information like Internet Protocol (IP) addresses for
        logged in users and for users leaving comments on https://akoma.in blog posts. Akoma only discloses logged in
        user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying
        information as described below.</p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="PII">2. Personally - Identifying Information</h2>
    <p>Certain visitors to Akoma's websites choose to interact with Akoma in ways that require Akoma to gather
        personally-identifying information. The amount and type of information that Akoma gathers depends on the nature
        of the interaction. For example, we ask visitors who leave a comment at https://akoma.in to provide a username
        and email address.</p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="Security">3. Security</h2>
    <p>The security of your Personal Information is important to us, but remember that no method of transmission over
        the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable
        means to protect your Personal Information, we cannot guarantee its absolute security.</p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="Ads">4. Advertisements</h2>
    <p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These
        cookies allow the ad server to recognize your computer each time they send you an online advertisement to
        compile information about you or others who use your computer. This information allows ad networks to, among
        other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy
        Policy covers the use of cookies by Akoma and does not cover the use of cookies by any advertisers.</p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="ExternalLinks">5. Links To External Sites</h2>
    <p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link,
        you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms
        of service of every site you visit.</p>
    <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third
        party sites, products or services.</p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="Remarketing">6. Akoma uses Google AdWords for remarketing</h2>
    <p>Akoma uses the remarketing services to advertise on third party websites (including Google) to previous visitors
        to our site. It could mean that we advertise to previous visitors who haven't completed a task on our site, for
        example using the contact form to make an enquiry. This could be in the form of an advertisement on the Google
        search results page, or a site in the Google Display Network. Third-party vendors, including Google, use cookies
        to serve ads based on someone's past visits. Of course, any data collected will be used in accordance with our
        own privacy policy and Google's privacy policy.</p>
    <p>You can set preferences for how Google advertises to you using the Google Ad Preferences page, and if you want to
        you can opt out of interest-based advertising entirely by cookie settings or permanently using a browser plugin.
    </p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="Stats">7. Aggregated Statistics</h2>
    <p>Akoma may collect statistics about the behavior of visitors to its website. Akoma may display this information
        publicly or provide it to others. However, Akoma does not disclose your personally-identifying information.</p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="Affiliates">8. Affiliate Disclosure</h2>
    <p>This site uses affiliate links and does earn a commission from certain links. This does not affect your purchases
        or the price you may pay.</p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="Cookies">9. Cookies</h2>
    <p>To enrich and perfect your online experience, Akoma uses "Cookies", similar technologies and services provided by
        others to display personalized content, appropriate advertising and store your preferences on your computer.</p>
    <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser
        provides to the website each time the visitor returns. Akoma uses cookies to help Akoma identify and track
        visitors, their usage of https://akoma.in, and their website access preferences. Akoma visitors who do not wish
        to have cookies placed on their computers should set their browsers to refuse cookies before using Akoma's
        websites, with the drawback that certain features of Akoma's websites may not function properly without the aid
        of cookies.</p>
    <p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to
        Akoma's use of cookies.</p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="Changes">10. Privacy Policy Changes</h2>
    <p>Although most changes are likely to be minor, Akoma may change its Privacy Policy from time to time, and in
        Akoma's sole discretion. Akoma encourages visitors to frequently check this page for any changes to its Privacy
        Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance
        of such change.</p>

    <p><a href="#tableofcontents">Back to table of contents</a></p>
    <h2 id="Credit">11. Contact Information &amp; Credit</h2>
    <p>If you have any questions
        about our Privacy Policy, please contact us via <a href="mailto:akomalite@gmail.com" class="email-bold">email</a> or <a
            href="/" class="email-bold">Write query</a>.</p>
            <p><a href="#tableofcontents" id="ls-back">Back to table of contents</a></p>
            
            <div class="footer-social-ak">
                <a href="https://twitter.com/Akoma60582060"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCTrE7W2WiNL4OdWyYSoY05Q"><i class="fab fa-youtube"></i></a>
                <a href="https://www.linkedin.com/in/akoma-lite-64421920a/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.kaggle.com/akomalite"><i class="fab fa-kaggle"></i></a>
                <a href=""><i class="fab fa-github"></i></a>
              </div>
</div>
{% endblock body %}